/*  Adobe Fonts */
@import url("https://use.typekit.net/lgh3lyf.css");

/*  Tailwind  */
@tailwind base;
@tailwind components;
@tailwind utilities;

/*  Main    */

html {
  background-color: #100f0f;
}

main {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
